@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-yellow-50 dark:bg-slate-800 dark:text-neutral-200;
  }
}

@layer utilities {
  .text-link {
    @apply underline text-indigo-700 dark:text-indigo-300 font-medium;
  }

  .w-center-column {
    @apply max-w-screen-lg mx-auto px-3 md:px-8;
  }

  .text-autoscale {
    @apply text-sm sm:text-base lg:text-lg xl:text-xl;
  }
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/assets/fonts/Lexend.woff2') format('woff2');
}
