---
import '../styles/tailwind.scss';
import '../styles/font.scss';
import HeadMetadata from '../components/HeadMetadata.astro';
---

<html lang="en">
	<head>
		<HeadMetadata title="Not Found" />
	</head>
	<body>
		<main>
			<!-- <ColoredBackground class='fixed block w-full h-full overflow-hidden -z-10' /> -->

			<div class="flex min-h-screen">
				<div class="m-auto text-center">
					<h1 class="text-8xl">Not Found</h1>
					<h1>Sorry. we couldn't find the page you're looking for.</h1>
				</div>
			</div>
		</main>
	</body>
</html>
