---
import Main from 'src/layouts/Main.astro';
import NavLink from 'src/components/NavLink.astro';
import ArticleIntro from 'src/components/ArticleIntro.astro';
import { getTranslator } from 'src/i18n/lang';
import { dateUTC } from 'src/utils/datetime';

const t = getTranslator(Astro.currentLocale);
---

<Main title="Disclosure Policy" hasHeader>
	<Fragment slot="header">
		<NavLink href={t.getRoute('/')} text={t.getText('homepage')} />
	</Fragment>

	<ArticleIntro
		title="Disclosure Policy"
		publication_date={dateUTC(2021, 11, 12)}
		update_date={dateUTC(2024, 7, 28)}
	/>

	<p>
		First of all, I would like to sincerely thank you for your responsible
		disclosure. We all make mistakes; after all, we are merely humans. While I
		cannot promise I will respond to all queries, I will try my best.
	</p>

	<h2>Contact</h2>

	<p>
		You can send an email to <NavLink
			href="mailto:security@jirawut.com"
			text="security@jirawut.com"
			decoration={false}
		/>. My PGP key is available at <NavLink
			href="https://jirawut.com/pgp-public-disclosure.txt"
			text="https://jirawut.com/pgp-public-disclosure.txt"
			decoration={false}
			noWrap={false}
		/>.
		<br />
		Other method of contacts are also listed on the homepage, feel free to use any
		of them.
	</p>

	<h2>Rewards</h2>

	<p>I'm sorry but there's no rewards. Maybe we can go out for a drink?</p>

	<p>Thank you for making the internet a little safer!</p>
</Main>
