---
import Main from 'src/layouts/Main.astro';
import { Button } from 'src/components/Button';
import { getTranslator } from 'src/i18n/lang';
import UwUActivator from 'src/components/UwUActivator.astro';

const t = getTranslator(Astro.currentLocale);
---

<Main title="Non's Homepage">
	<h1 class="text-center">Non (Jirawut)</h1>

	<p>
		University student studying computer science. Particular interests includes
		software security and user experience. Have a bit of a social anxiety,
		please be kind if I have a hard time communicating.
	</p>

	<figure>
		<figcaption>Languages</figcaption>
		<ul class="list-inside list-disc">
			<li><span class="text-white text-opacity-100">🇬🇧</span> English</li>
			<li><span class="text-white text-opacity-100">🇹🇭</span> Thai/ไทย</li>
			<li><span class="text-white text-opacity-100">🇰🇷</span> Korean/한국어</li>
		</ul>
	</figure>

	<div class="flex flex-col gap-3">
		<Button href={t.getRoute('/blog')} text="Blog (Coming Soon)" disabled />
		<Button href="mailto:hello@jirawut.com" text="Email (hello@jirawut.com)" />
		<Button href="https://www.github.com/Non-J" text="GitHub" />
		<Button
			href="https://www.linkedin.com/in/jirawut-thongraar"
			text="LinkedIn"
		/>
		<Button href="https://bsky.app/profile/no-n1e.bsky.social" text="Bluesky" rel="me" />
		<Button href="https://infosec.exchange/@no_n1e" text="Mastodon" rel="me" />
		<UwUActivator />
	</div>
</Main>
