---
import Main from 'src/layouts/Main.astro';
import NavLink from 'src/components/NavLink.astro';
import ArticleIntro from 'src/components/ArticleIntro.astro';
import { getTranslator } from 'src/i18n/lang';
import { dateUTC } from 'src/utils/datetime';

const t = getTranslator(Astro.currentLocale);
---

<Main title="Third-party Notices" hasHeader>
	<Fragment slot="header">
		<NavLink href={t.getRoute('/')} text={t.getText('homepage')} />
	</Fragment>

	<ArticleIntro
		title="Third-party Notices"
		publication_date={dateUTC(2022, 8, 3)}
		update_date={dateUTC(2024, 7, 28)}
	/>

	<p>
		This project wouldn't be possible without the generosity of those who make
		their works publicly available for others to use. This notice is here as a
		tribute for the use of respective libraries or works.
	</p>

	<h2>Fonts</h2>

	<ul>
		<li>
			<a href="https://futureforwardparty.org/?p=1965"
				>Anakotmai - Future Forward Party, Cadson Demak - Public Domain</a
			>
		</li>
		<li>
			<a href="https://github.com/googlefonts/lexend"
				>Lexend - Bonnie Shaver-Troup, Thomas Jockin, Santiago Orozco, Hector
				Gomez, Superunion - OFL 1.1</a
			>
		</li>
		<li>
			<a href="https://fonts.google.com/specimen/Nanum+Gothic#license"
				>Nanum Gothic - Sandoll - OFL 1.1</a
			>
		</li>
		<li>
			<a href="https://github.com/mozilla/twemoji-colr"
				>Twemoji - Mozilla, Twitter - Font under Apache License 2.0 and Visual
				Design under CC-BY-4.0</a
			>
		</li>
		<li>
			<a href="https://github.com/fonttools/fonttools">Fonttools - MIT</a>
		</li>
		<li>
			<a href="https://github.com/googlefonts/gftools"
				>Gftools - Apache License 2.0</a
			>
		</li>
	</ul>

	<h2>Frontend</h2>

	<ul>
		<li><a href="https://github.com/withastro/astro">Astro - MIT</a></li>
		<li>
			<a href="https://github.com/kindspells/astro-shield">astro-shield - MIT</a
			>
		</li>
		<li>
			<a href="https://github.com/oven-sh/bun">Bun - MIT</a>
		</li>
		<li>
			<a href="https://github.com/Playform/Compress">Compress - MIT</a>
		</li>
		<li><a href="https://github.com/cssnano/cssnano">cssnano - MIT</a></li>
		<li><a href="https://github.com/mdx-js/mdx">MDX - MIT</a></li>
		<li>
			<a href="https://github.com/yunusga/postcss-sort-media-queries"
				>postcss-sort-media-queries - MIT</a
			>
		</li>
		<li>
			<a href="https://github.com/prettier/prettier">Prettier - MIT</a>
		</li>
		<li>
			<a href="https://github.com/tailwindlabs/tailwindcss">Tailwind - MIT</a>
		</li>
		<li><a href="https://github.com/sass/sass">Sass - MIT</a></li>
		<li><a href="https://github.com/solidjs/solid">Solid - MIT</a></li>
		<li>
			<a href="https://github.com/microsoft/TypeScript">TypeScript - MIT</a>
		</li>
	</ul>
</Main>
