---
export interface Props {
  text: string;
}

const { text } = Astro.props;
---

<a
  href="#"
  class="bg-indigo-700 text-slate-300 mt-3 py-4 text-center font-medium rounded-full pointer-events-none cursor-default"
>
  {text}
</a>
