---
export interface Props {
	href: string;
	text: string;
}

const { href, text } = Astro.props;
---

<a
	{href}
	class="bg-indigo-800 hover:bg-indigo-900 ring-0 hover:ring-4 ring-indigo-900 ring-opacity-50 transition duration-200 mt-3 py-4 text-center font-medium rounded-full whitespace-nowrap overflow-hidden"
>
	{text}
</a>
