:root {
  --interests-display-height: 2.5em;
}

.interests {
  position: relative;
  width: 100%;
  height: var(--interests-display-height);
  overflow: hidden;
}

.interests-element {
  text-align: center;
  position: absolute;
  height: var(--interests-display-height);
  line-height: var(--interests-display-height);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  
  animation-timing-function: ease-out;
  animation-name: slide-out;
  animation-duration: 400ms;
  top: 100%;
}

.interests-slide-in {
  animation-name: slide-in;
  top: 0%;
}

@keyframes slide-in {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}

@keyframes slide-out {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
