---
import 'src/styles/font.css';
import Base from 'src/layouts/Base.astro';
import NavLink from 'src/components/NavLink.astro';
import { getTranslator } from 'src/i18n/lang';

const t = getTranslator(Astro.currentLocale);
---

<Base title={t.getText('404/not_found')}>
	<main>
		<div
			class="flex min-h-screen flex-col items-center justify-center text-center"
		>
			<h1 class="text-4xl text-neutral-100/90">
				{t.getText('404/not_found')}
			</h1>
			<p class="mt-2 text-lg">
				{t.getText('404/message')}
			</p>
			<NavLink
				className="mt-8 block text-lg"
				text={t.getText('homepage')}
				href={t.getRoute('/')}
			/>
		</div>
	</main>
</Base>
