---
import '@styles/font.scss';
import '@styles/global.css'
import type { Language } from '@i18n/lang';

export interface Props {
	title: string;
	lang?: Language;
	className?: string;
}
const { title, lang = Astro.currentLocale, className } = Astro.props;
---

<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="author" content="Jirawut Thongraar" />
		<meta name="description" content="Jirawut's Personal Page" />
		<meta name="keywords" content="portfolio,personal,contact,blog" />

		<title>{title}</title>

		<slot name="head" />
	</head>
	<body
		class={'font-normal bg-slate-900 text-neutral-100 text-opacity-80' +
			(className ? ` ${className}` : '')}
	>
		<slot />
	</body>
</html>
