---
/**
 * List of all blog posts
 */

import 'src/styles/font.scss';
import Base from 'src/layouts/Base.astro';
import { ViewTransitions } from 'astro:transitions';
import { getCollection } from 'astro:content';
import { getTranslator, defaultLocale } from 'src/i18n/lang';
import BlogIndexEntry from 'src/components/blog/BlogIndexEntry.astro';

const t = getTranslator(Astro.currentLocale);

const allPosts = await getCollection('blog');

const posts = allPosts
	.filter((post) => !post.data.hidden)
	.filter(
		(post) =>
			(t.currentLocale === defaultLocale && !post.slug.includes('/')) ||
			(t.currentLocale !== defaultLocale &&
				post.slug.split('/', 1)[0] === t.currentLocale),
	);
posts.sort(
	(a, b) =>
		b.data.publication_date.getTime() - a.data.publication_date.getTime(),
);
---

<Base title={t.getText('blog/name')}>
	<Fragment slot="head">
		<ViewTransitions />
	</Fragment>

	<main class="w-center-column text-autoscale min-h-screen flex flex-col">
		<h1 class="text-center font-semibold text-4xl my-4">
			{t.getText('blog/name')}
		</h1>

		{posts.map((post) => <BlogIndexEntry post={post} />)}
	</main>
</Base>
