---
/**
 * List of all blog posts
 */

import 'src/styles/font.css';
import Main from 'src/layouts/Main.astro';
import BlogIndexEntry from 'src/components/blog/BlogIndexEntry.astro';
import ScrollToTop from 'src/components/ScrollToTop.astro';
import NavLink from 'src/components/NavLink.astro';
import { getCollection } from 'astro:content';
import { getTranslator, defaultLocale } from 'src/i18n/lang';

const t = getTranslator(Astro.currentLocale);

const allPosts = await getCollection('blog');

const posts = allPosts
	.filter((post) => !post.data.hidden)
	.filter(
		(post) =>
			(t.currentLocale === defaultLocale && !post.slug.includes('/')) ||
			(t.currentLocale !== defaultLocale &&
				post.slug.split('/', 1)[0] === t.currentLocale),
	);
posts.sort(
	(a, b) =>
		b.data.publication_date.getTime() - a.data.publication_date.getTime(),
);
---

<Main title={t.getText('blog/name')} hasHeader>
	<Fragment slot="head">
		<ScrollToTop />
	</Fragment>

	<Fragment slot="header">
		<NavLink href={t.getRoute('/')} text={t.getText('homepage')} />
	</Fragment>

	<h1>{t.getText('blog/name')}</h1>

	<div class="flex flex-col gap-3">
		{posts.map((post) => <BlogIndexEntry post={post} />)}
	</div>
</Main>
